.git
.gitignore
.dockerignore
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
*.log
.env*
.vscode
.idea
.DS_Store
